.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: antiquewhite;
}
.nav-link {
  font-family: 'Roboto';
  margin-right: 20px;
  font-weight: bold;
}
.link {
  text-decoration: none;
}
