.input-box-container {
  height: 30px;
  width: 200px;
  border: 1px solid grey;
}
.btn-update {
  background-color: blue;
  padding: 10px;
  border: 2px solid blue;
  color: #ffffff;
  margin-top: 20px;
}
