.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form-heading {
  font-size: 30px;
  font-family: 'Roboto';
  color: blue;
}
.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.label {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
}
.input-box {
  height: 30px;
  border: 2px solid gainsboro;
  border-radius: 6px;
  margin-top: 5px;
}
.input-container-radio {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.radio-container {
  margin-right: 10px;
}
.input-gender-container {
  display: flex;
  margin-top: 0px;
}
.input-label-name {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
}
.btn-back {
  background-color: gray;
  font-family: 'Roboto';
  border: 1px solid gray;
  margin-right: 20px;
  border-radius: 2px;
  width: 50px;
  height: 30px;
}
.btn-save {
  background-color: blue;
  font-family: 'Roboto';
  border: 1px solid gray;
  margin-right: 20px;
  border-radius: 2px;
  color: #ffffff;
  width: 50px;
  height: 30px;
}
.buttons-container {
  margin-top: 20px;
}
